<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.channel-link').click(function (e) {
                e.preventDefault(); // Prevent the default link behavior

                var channelId = $(this).data('channel-id');
                var url = '/chat/' + channelId; // Updated endpoint URL

                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#subchannel-list').html(data); // Render the subchannel template with received data
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

            // Click the first channel link
            $('.channel-link:first').click();
        });
    </script>
</head>
<body>
What chat room would you like to enter?<br>

{% for channel in channels %}
    <a class="channel-link" href="#" data-channel-id="{{ channel.id }}">{{ channel.channel_name }}</a><a href="{% url 'deleteChannel' channel.id %}">delete</a><br>
{% endfor %}
<hr>
{{ request.user }}
<div id="subchannel-list">
    <!-- Subchannel list will be loaded here -->
</div>
</body>
</html>
